@use 'abstract/_variables' as *;

.font-florensans {
  font-family: "Florensans", Arial, Helvetica, sans-serif;
}
.font-brittany {
  font-family: "Brittany", Arial, Helvetica, sans-serif;
}
.font-lato {
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

.color-verde {
  color: $bk-verde;
}
.color-verde-claro {
  color: $bk-verde-claro;
}
.color-morado {
  color: $bk-morado;
}
.color-lila {
  color: $bk-lila;
}
.color-lila-claro {
  color: $bk-lila-claro;
}

