@import "../../../styles.scss";
:host {
  font-family: "Florensans", Arial, Helvetica, sans-serif;
  background-color: $bk-primary;
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
}
.branch.logo {
  font-family: "Brittany", Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  color: $bk-quaternary;
  margin-left: 20px;
}
.branch.name {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: $bk-terciary;
  margin-left: 20px;
}
